body {
    background-color: antiquewhite;
    background-image: url(https://wallpapermemory.com/uploads/625/gravity-falls-background-hd-1600x768-301726.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 655px;
    overflow: hidden;
    margin: 0;
}

*{
    box-sizing: border-box;
}

.quiz {
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px lightgray;
    width: 600px;
    overflow: hidden;

}

.header {
    padding: 4rem;

}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}